.MobileMessagePostPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.MobileMessagePostHeaderRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
}

.MobileMessagePostContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;

}