@font-face {
  font-family: 'FloatFont';
  src: local('Floatfont-Regular'), url(./Assets/Floatfont-Regular.ttf) format('truetype');
}

body, html {
  height: 100%;
}

body {
  background-color: #b4d2ff;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
}

#root {
  height: 100%;
  font-family: 'FloatFont';
}

button, textarea, input {
  font-family: 'FloatFont';
  cursor: pointer;
  padding: 0;
}

h1 {
  font-size: 4em;
  margin: .5rem 0em;
}